@mixin before_circle_text {
  &:before {
    position: absolute;
    content: "";
    width: 36px;
    height: 36px;
    border-radius: 100%;
    top: -25%;
    left: 0;
    z-index: -1;
    background: $main-color;
  }
}
@mixin before_circle_text-center {
  &:before {
    position: absolute;
    content: "";
    width: 36px;
    height: 36px;
    border-radius: 100%;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    background: $main-color;
  }
}
@mixin before_circle_icon {
  &:before {
    position: absolute;
    content: "";
    width: 36px;
    height: 36px;
    border-radius: 100%;
    top: -53%;
    left: 0;
    z-index: -1;
    background: $main-color;
  }
}
